@charset "UTF-8";

body {
	margin: 0;
	background: #f3f3f3;
	font-family: "Yu Gothic", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container{
	width: 90%;
	max-width: 700px;
	background-color: #FFF;
	border: 1px solid #dcdcdc;
	padding: 40px;
	text-align: center;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

h1 {
	margin-top: 0;
	margin-bottom: 35px;
	font-size: 28px;
	font-weight: normal;
	color: #222;

}

#weapon {
	border: 1px solid #cfcfcf;
	background: #fafafa;
	padding: 25px;
	font-size: 30px;
	font-weight: bold;
	color: #222;
	margin-bottom: 30px;
	min-height: 45px;
	white-space: nowrap;
	overflow-x: auto;
}

button {
	width: 60%;
	padding: 15px;
	font-size: 18px;
	background: #222;
	color: white;
	border: none;
	cursor: pointer;
	transition: .2s;
}

button:hover {
	background: #444;
}

button:active {
	background: #000;
}

#weaponImage{
	width: 250px;
	height: auto;
	display: block;
	margin: 20px auto;
}

#weaponType{
	font-size: 17px;
}