@charset "UTF-8";

/* 全体適用 */
body {
	margin: 0;
	background: #ececec;
	font-family: "Yu Gothic", sans-serif;
	display: flex;
	justify-content: center;
	
	align-items: flex-start;
	min-height: 100vh;
	padding: 20px 0;
}

/* コンテナ要素 */
.container {
	margin: 20px auto;
	
	width: 90%;
	max-width: 700px;
	background-color: #FFF;
	border: none;
	border-radius: 16px;
	padding: 40px;
	text-align: center;
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}

/* タイトル */
h1 {
	margin-top: 0;
	margin-bottom: 35px;
	font-size: 28px;
	font-weight: normal;
	color: #222;

}

/* 武器名 */
#weapon {
	border: 1px solid #cfcfcf;
	background: #fafafa;
	border-left: 6px solid #3b82f6;
	border-radius: 8px;
	padding: 25px;
	font-size: 30px;
	font-weight: bold;
	color: #222;
	margin-bottom: 30px;
	min-height: 45px;
	white-space: nowrap;
	overflow-x: auto;
}

/* 武器画像 */
#weaponImage {
	width: 250px;
	height: auto;
	display: block;
	margin: 20px auto;
}

#toggleExclude {
	width: 60%;
	margin: 10px 0;
	background-color: #6b7280;
}

#weaponSelectArea {
	max-height: 60vh;
	overflow-y: auto;
	display: none;
}

.typeHeader {
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
	user-select: none;
	margin-top: 10px;
	background: #f5f5f5;
	border: 1px solid #ddd;
	border-radius: 8px 10px;
	padding: 8px 10px;
}

.typeHeader:hover{
	background: #ebebeb;
}

.weaponList {	
	max-height: 300px;
	overflow-y: auto;
	grid-template-columns: repeat(2, 250px);
	justify-content: center;
	gap: 4px 16px;
}
@media (max-width: 768px){
    .weaponList{
        grid-template-columns: 1fr;
    }
	
	.weaponItem{
		display: flex;
		justify-content: center;
	}
	
	.weaponItem label{
		width: 250px;
		display: flex;
		align-items: center;
		gap: 8px;
	}
}

.weaponItem {
	text-align: left;
}

.toggle {
	width: 16px;
	text-align: center;
	font-weight: bold;
	flex-shrink: 0;
}

/* ボタン */
button {
	width: 60%;
	padding: 15px;
	font-size: 18px;
	background: #4a4a4a;
	color: white;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: .2s;
}

button:hover {
	background: #666;
}

button:active {
	background: #333;
}

.bulkActions button {
    width: auto !important;
    height: auto !important;
	font-size: 12px !important;
	padding: 8px 13px !important;
}